<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <div class="page-content">
        <%= partial "layouts/header" %>
        <%= partial  "layouts/menu" %>
        <%= yield %>
        <%= partial "layouts/footer" %>
    </div>
  </body>
</html>
